/* base chip */
ion-chip{
  height:22px;border-radius:999px;--background:#eef2f7;--color:#1f2937;padding:0 8px;
  ion-label{font-size:10.5px;font-weight:700;letter-spacing:.4px}
}

/* pastel combinando con primario morado */
.chip-grass   { --background:#eaf8ee; --color:#12673a; }
.chip-poison  { --background:#efe6ff; --color:#6a3aa1; } /* 💜 */
.chip-fire    { --background:#ffe8df; --color:#a33b14; }
.chip-water   { --background:#e7f2ff; --color:#0d4f73; }
.chip-flying  { --background:#eef6ff; --color:#334155; }
.chip-bug     { --background:#edf7de; --color:#3e5a13; }
.chip-electric{ --background:#fff6cc; --color:#9a7b00; }
.chip-normal  { --background:#f3f4f6; --color:#374151; }
.chip-fairy   { --background:#ffe6f1; --color:#9a2978; }
.chip-psychic { --background:#ffd9ec; --color:#7a1a4b; }
.chip-ice     { --background:#e7faff; --color:#1e5670; }
.chip-rock    { --background:#eee3d4; --color:#5a4330; }
.chip-dragon  { --background:#e9e7ff; --color:#3c38a6; } /* 💜 */
.chip-ghost   { --background:#efeaff; --color:#4338ca; } /* 💜 */
.chip-steel   { --background:#edf2f7; --color:#334155; }
.chip-dark    { --background:#eaeaea; --color:#111827; }
.chip-ground  { --background:#f7e4cf; --color:#7a4b1a; }
