<ion-header>
  <ion-toolbar class="pdx-toolbar">
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="pdx-list">
    <ion-item
      *ngFor="let p of items()"
      button
      lines="none"
      (click)="goDetail(p)"
      class="pdx-card"
    >
      <!-- Avatar a la izquierda -->
      <ion-avatar slot="start" class="poke-avatar">
        <img [src]="img(p.id)" [alt]="p.name" />
      </ion-avatar>

      <!-- Contenido: nombre centrado y chips a la derecha -->
      <ion-label class="main">
        <div class="row">
          <div class="title">{{ p.name | titlecase }}</div>
          <div class="chips">
            <ion-chip *ngFor="let t of p.types" [class]="'type-' + t.type.name">
              <ion-label>{{ t.type.name | uppercase }}</ion-label>
            </ion-chip>
          </div>
        </div>
      </ion-label>

      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="load-more">
    <ion-button (click)="load()" [disabled]="loading()">
      {{ loading() ? 'Cargando...' : 'Cargar más' }}
    </ion-button>
  </div>
</ion-content>
